.body {
    background-image: url(./../../hinhanh/coverRegister.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 810px;

}

.register {
    width: 55%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: auto;
    margin-top: 130px;
    color: floralwhite;
}

.notnull {
    color: crimson;
}